<%= form_for([@attachable_picture, @picture], :html => {:multipart => true}) do |f| %>


  <div class="form-actions">
    <span class="btn btn-success fileinput-button">
      <i class="icon-upload icon-white"></i>
        <span>Add pictures...</span>
        <%= f.file_field :image, multiple: true, name: "picture[image]" %>
    </span>
  </div>
<% end %>