<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="myModalLabel">Edit Description</h3>
</div>
<%= simple_form_for([attachable_picture, picture], :remote => true) do |f| %>
  <div class="modal-body">
    <%= f.input :description %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit :class => "btn btn-primary desc-submit" %>
  </div>
<% end %>

