<% @pictures.each do |picture| %>
  <%= render picture %>
<% end %>
<div class="clear"></div>

<script id="template-upload" type="text/x-tmpl">
  <!--<div id="progressModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <div class="upload span9">
      {%=o.name%}
      <div class="progress">
        <div class="bar" style="width: 0%;"></div>
      </div>
    </div>
  <!--</div>-->
</script>