  <% @pictures.each do |picture| %>
   <%= render picture %>
  <% end %>
  <div class="clear"></div>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%;"></div></div>
  </div>
</script>