// Place all the styles related to the offer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

.request-header {
  width: auto;
  z-index: 10001;
  background: #ffffff;
  margin-top: -10px;
  .tab-content {
    min-height: 0;
  }
}

.breadcrumb {
  margin-top: 10px;
}

.select-room {
}

.extras-total {
  vertical-align: middle;
}

.sub-totals {
  height: 70px;
}

.event-section {
  margin-top: 20px;
  border: 1px solid #dedede;
  @include border-radius(6px);
  //min-height: 300px;
  //a.thumbnail {
  //  width: 100px;
  //  height: 100px;
  //  background-image: image-url("default-avatar.png");
  //  background-repeat: no-repeat;
  //  background-size: contain;
  //}
  .section-header {
    background-color: #d9edf7;
    padding: 8px;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #dedede;
    @include border-top-radius(6px);
    h5 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .event-data {
    background-color: #eee;
    padding: 8px;
    border-bottom: 1px solid #dedede;
  }
}
.section-total {
  margin-top: 20px;
  height: 35px;
  border: 1px solid #dedede;
  @include border-radius(6px);
  background-color: #eee;
}
